NLEditor/obj/
NLEditor/bin/
styles/
ErrorLog.txt
ProfilingLog.txt
Test/
NeoLemmix147Settings.ini
gfx/
NeoLemmixHotkeys.ini
TempTestLevel.nxlv
styles_OLD/
sound/
NLEditor/Level.cs~RF4b1091c.TMP
*.TMP
NLEditorSettings.ini
NLEditor.exe.config
NLEditor.vshost.exe.config
styles_OLD_2/
data/
levels/
music/
save/
*.zip
NLEditor/publish/
neolemmix_logging.txt
NLEditor.application
NLEditor.exe.manifest
NLEditor.vshost.application
NLEditor.vshost.exe.manifest
NLEditor/NLEditor_TemporaryKey.pfx
