SLXEditor/obj/
SLXEditor/bin/
styles/
ErrorLog.txt
ProfilingLog.txt
Test/
NeoLemmix147Settings.ini
gfx/
NeoLemmixHotkeys.ini
TempTestLevel.nxlv
styles_OLD/
sound/
SLXEditor/Level.cs~RF4b1091c.TMP
*.TMP
SLXEditorSettings.ini
SLXEditor.exe.config
SLXEditor.vshost.exe.config
styles_OLD_2/
data/
levels/
music/
save/
*.zip
SLXEditor/publish/
neolemmix_logging.txt
SLXEditor.application
SLXEditor.exe.manifest
SLXEditor.vshost.application
SLXEditor.vshost.exe.manifest
SLXEditor/SLXEditor_TemporaryKey.pfx
.vs/
SLXEditor/SLXEditor.csproj.user
UpdateReleaseEXE.bat
