<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NLEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <NLEditor.Properties.Settings>
            <setting name="ShowAboutSLXWindowAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LevelArrangerIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllTabsAreExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevelArrangerSize" serializeAs="String">
                <value>960, 400</value>
            </setting>
            <setting name="LevelArrangerLocation" serializeAs="String">
                <value>280, 40</value>
            </setting>
            <setting name="LevelArrangerIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErasersAreHighlighted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupsAreHighlighted" serializeAs="String">
                <value>False</value>
            </setting>
        </NLEditor.Properties.Settings>
    </userSettings>
</configuration>
